flow.json
[{"id":"cc01cd8b.cf01b8","type":"tab","label":"Main","disabled":false,"info":"This a complete IoT application with the following subflows:\n\n- Capture\n- Filter\n- Present\n- Store\n- Eval\n- Act\n- Notify"},{"id":"e5d3f508.6c0918","type":"subflow","name":"Capture","info":"Capture temperature and humidity data from a Xiaomi sensor","category":"","in":[{"x":100,"y":180,"wires":[{"id":"ba153279.b00c5"}]}],"out":[{"x":460,"y":180,"wires":[{"id":"ba153279.b00c5","port":0}]}],"icon":"node-red/feed.png"},{"id":"6032c7b7.f8c268","type":"subflow","name":"Filter","info":"Filter out temperature and humidity values outside the expected range","category":"","in":[{"x":100,"y":180,"wires":[{"id":"31b0e95e.cbe9de"}]}],"out":[{"x":780,"y":180,"wires":[{"id":"21887f93.1e1c4","port":0}]}],"icon":"node-red/switch.png"},{"id":"da5835fe.ce0858","type":"subflow","name":"Present","info":"Present a dashboard with a temperature chart and humidity gauge","category":"","in":[{"x":100,"y":180,"wires":[{"id":"ec8fdd01.dd889"},{"id":"a4a58a21.e9434"}]}],"out":[],"icon":"node-red-dashboard/ui_form.png"},{"id":"840c31cb.14bec","type":"subflow","name":"Store","info":"Store the data in graphite time-series database","category":"","in":[{"x":100,"y":220,"wires":[{"id":"c957fcfd.e4f13"},{"id":"e1b4908b.0c416"}]}],"out":[],"icon":"node-red/db.png"},{"id":"310181e.a7a957e","type":"subflow","name":"Eval","info":"Eval if some alarm is triggered","category":"","in":[{"x":100,"y":180,"wires":[{"id":"f6ed3648.cc3578"}]}],"out":[{"x":720,"y":180,"wires":[{"id":"16c6cd05.1e512b","port":0},{"id":"7c300df4.fa4f4c","port":0}]}],"icon":"node-red/watch.png"},{"id":"939f4312.b44848","type":"subflow","name":"Act","info":"Switch on/off the alarm depending on the alarm","category":"","in":[{"x":100,"y":180,"wires":[{"id":"78350d07.f9ac24"}]}],"out":[],"icon":"node-red/light.png"},{"id":"8b700569.bacec8","type":"subflow","name":"Notify","info":"Send Telegram notifications","category":"","in":[{"x":100,"y":180,"wires":[{"id":"ff7d16eb.9f29d8"}]}],"out":[],"icon":"node-red-contrib-telegrambot/telegram.png"},{"id":"86f8bece.2b797","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"85e89c0c.619e7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"8dd79d94.3c653","type":"ui_group","z":"","name":"Default","tab":"85e89c0c.619e7","disp":true,"width":"6","collapse":false},{"id":"323237ef.caca98","type":"telegram bot","z":"8b700569.bacec8","botname":"MyNodeREDRobot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"655113df.2dc9c4","type":"inject","z":"cc01cd8b.cf01b8","name":"Repeat every minute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["20be6327.f50b54"]]},{"id":"ba153279.b00c5","type":"Xiaomi BLE","z":"e5d3f508.6c0918","name":"Xiaomi sensor","address":"4C:65:A8:D0:63:35","scanningTimeout":"10","x":280,"y":180,"wires":[["8ceb10ec.b1226"]]},{"id":"4732a062.d046a","type":"debug","z":"e5d3f508.6c0918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"8ceb10ec.b1226","type":"template","z":"e5d3f508.6c0918","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Xiaomi sensor output: \n  temperature: {{payload.temperature}}\n  humidity: {{payload.humidity}}\n  battery: {{payload.battery}}","output":"str","x":500,"y":260,"wires":[["4732a062.d046a"]]},{"id":"31b0e95e.cbe9de","type":"switch","z":"6032c7b7.f8c268","name":"-10 < temperature < 40","property":"payload.temperature","propertyType":"msg","rules":[{"t":"btwn","v":"-10","vt":"num","v2":"50","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["21887f93.1e1c4"],["60792098.4972"]]},{"id":"20be6327.f50b54","type":"subflow:e5d3f508.6c0918","z":"cc01cd8b.cf01b8","name":"","x":420,"y":180,"wires":[["a3a9ce81.405288"]]},{"id":"a3a9ce81.405288","type":"subflow:6032c7b7.f8c268","z":"cc01cd8b.cf01b8","name":"","x":610,"y":180,"wires":[["4f27e3f1.1008c4","4ffbd1c7.2d9708","965abb50.12a43"]]},{"id":"21887f93.1e1c4","type":"switch","z":"6032c7b7.f8c268","name":"0 < humidity < 100","property":"payload.humidity","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"100","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":180,"wires":[[],["1b2ebd53.9356ab"]]},{"id":"60792098.4972","type":"template","z":"6032c7b7.f8c268","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Invalid value for the temperature: {{payload.temperature}}","output":"str","x":560,"y":260,"wires":[["4ffad017.c57dc"]]},{"id":"4ffad017.c57dc","type":"debug","z":"6032c7b7.f8c268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":260,"wires":[]},{"id":"1b2ebd53.9356ab","type":"template","z":"6032c7b7.f8c268","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Invalid value for the humidity: {{payload.temperature}}","output":"str","x":820,"y":340,"wires":[["c5d0f523.c390b8"]]},{"id":"c5d0f523.c390b8","type":"debug","z":"6032c7b7.f8c268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":340,"wires":[]},{"id":"615a575e.a379c8","type":"ui_chart","z":"da5835fe.ce0858","name":"temperature chart","group":"8dd79d94.3c653","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":180,"wires":[[],[]]},{"id":"ec8fdd01.dd889","type":"ui_gauge","z":"da5835fe.ce0858","name":"humidity gauge","group":"8dd79d94.3c653","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":560,"y":260,"wires":[]},{"id":"4f27e3f1.1008c4","type":"subflow:da5835fe.ce0858","z":"cc01cd8b.cf01b8","name":"","x":790,"y":100,"wires":[]},{"id":"34abbea8.bc3022","type":"debug","z":"da5835fe.ce0858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":340,"wires":[]},{"id":"a4a58a21.e9434","type":"change","z":"da5835fe.ce0858","name":"get only temperature","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["615a575e.a379c8"]]},{"id":"8051606b.a919d8","type":"function","z":"cc01cd8b.cf01b8","name":"Get random data","func":"msg.payload = {};\nmsg.payload.temperature = Math.round((Math.random() * 50) - 10);\nmsg.payload.humidity = Math.round(Math.random() * 100);\nmsg.payload.battery = 50;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["10f87727.c28d19","a3a9ce81.405288"]]},{"id":"925132cb.9c0568","type":"inject","z":"cc01cd8b.cf01b8","name":"Test capture","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["8051606b.a919d8"]]},{"id":"10f87727.c28d19","type":"debug","z":"cc01cd8b.cf01b8","name":"print the test data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":440,"wires":[]},{"id":"4ffbd1c7.2d9708","type":"subflow:840c31cb.14bec","z":"cc01cd8b.cf01b8","name":"","x":790,"y":260,"wires":[]},{"id":"965abb50.12a43","type":"subflow:310181e.a7a957e","z":"cc01cd8b.cf01b8","name":"","x":790,"y":180,"wires":[["a211a79c.1f176","914466dd.2e4138"]]},{"id":"a211a79c.1f176","type":"subflow:939f4312.b44848","z":"cc01cd8b.cf01b8","name":"","x":970,"y":140,"wires":[]},{"id":"914466dd.2e4138","type":"subflow:8b700569.bacec8","z":"cc01cd8b.cf01b8","name":"","x":970,"y":220,"wires":[]},{"id":"d56e6619.2afd48","type":"comment","z":"cc01cd8b.cf01b8","name":"A complete IoT application","info":"","x":190,"y":100,"wires":[]},{"id":"1e20dc59.1f48bc","type":"comment","z":"cc01cd8b.cf01b8","name":"Testing","info":"","x":130,"y":320,"wires":[]},{"id":"75664456.0718b4","type":"graphite","z":"840c31cb.14bec","name":"","host":"127.0.0.1","port":2003,"connType":"udp4","maxPacketSize":4096,"prefix":"","suffix":"","defaultMetric":"thingy","interval":5000,"add":false,"x":540,"y":220,"wires":[[]]},{"id":"420d4aea.87ec34","type":"debug","z":"840c31cb.14bec","name":"graphite output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":220,"wires":[]},{"id":"c957fcfd.e4f13","type":"change","z":"840c31cb.14bec","name":"get only temperature","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["75664456.0718b4"]]},{"id":"e1b4908b.0c416","type":"change","z":"840c31cb.14bec","name":"get only humidity","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":260,"wires":[["75664456.0718b4"]]},{"id":"7a81ca24.c7843c","type":"comment","z":"e5d3f508.6c0918","name":"Capture temperature and humidity data from a Xiaomi sensor","info":"","x":300,"y":100,"wires":[]},{"id":"afc22949.d614a","type":"comment","z":"6032c7b7.f8c268","name":"Filter out temperature and humidity values outside the expected range","info":"","x":330,"y":100,"wires":[]},{"id":"e6d412d6.91ce9","type":"comment","z":"da5835fe.ce0858","name":"Present a dashboard with a temperature chart and humidity gauge","info":"","x":320,"y":100,"wires":[]},{"id":"a7d78257.783f98","type":"comment","z":"840c31cb.14bec","name":"Store the data in graphite time-series database","info":"","x":260,"y":100,"wires":[]},{"id":"446c2700.73534","type":"comment","z":"310181e.a7a957e","name":"Eval if some alarm is triggered","info":"","x":210,"y":100,"wires":[]},{"id":"72a894fa.87ac3c","type":"inject","z":"cc01cd8b.cf01b8","name":"Test invalid data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["645a89d1.783e78"]]},{"id":"645a89d1.783e78","type":"change","z":"cc01cd8b.cf01b8","name":"Set a invalid temperature","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.temperature","pt":"msg","to":"-20","tot":"num"},{"t":"set","p":"payload.humidity","pt":"msg","to":"50","tot":"str"},{"t":"set","p":"payload.battery","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["a3a9ce81.405288","10f87727.c28d19"]]},{"id":"c13e725d.d4883","type":"comment","z":"939f4312.b44848","name":"Switch on/off the alarm depending on the alarm","info":"","x":260,"y":100,"wires":[]},{"id":"f8c2056c.6738f8","type":"comment","z":"8b700569.bacec8","name":"Send Telegram notifications","info":"","x":200,"y":100,"wires":[]},{"id":"bd5ddce8.fa9dc8","type":"webmail-notifier","z":"939f4312.b44848","leddev":"riso_kagaku3","name":"led notifier","x":870,"y":180,"wires":[[]]},{"id":"f6ed3648.cc3578","type":"switch","z":"310181e.a7a957e","name":"if temperature > 20","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[["16c6cd05.1e512b"],["7c300df4.fa4f4c"]]},{"id":"16c6cd05.1e512b","type":"change","z":"310181e.a7a957e","name":"enable alarm","rules":[{"t":"set","p":"payload.alarm","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[[]]},{"id":"7c300df4.fa4f4c","type":"change","z":"310181e.a7a957e","name":"disable alarm","rules":[{"t":"set","p":"payload.alarm","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[[]]},{"id":"78350d07.f9ac24","type":"rbe","z":"939f4312.b44848","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.alarm","x":250,"y":180,"wires":[["f41a8d8e.8edff8"]]},{"id":"f41a8d8e.8edff8","type":"switch","z":"939f4312.b44848","name":"alarm?","property":"payload.alarm","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["a02197ae.8760e8"],["e694c682.1df008"]]},{"id":"a02197ae.8760e8","type":"change","z":"939f4312.b44848","name":"switch on led","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[["bd5ddce8.fa9dc8"]]},{"id":"e694c682.1df008","type":"change","z":"939f4312.b44848","name":"switch off led","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["bd5ddce8.fa9dc8"]]},{"id":"ce98934.e1ee47","type":"debug","z":"939f4312.b44848","name":"debug led output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":180,"wires":[]},{"id":"ff7d16eb.9f29d8","type":"rbe","z":"8b700569.bacec8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.alarm","x":250,"y":180,"wires":[["219388a.0907178"]]},{"id":"219388a.0907178","type":"switch","z":"8b700569.bacec8","name":"alarm?","property":"payload.alarm","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["9ce3394b.ed96c"],["8aa99f12.b64d4"]]},{"id":"9ce3394b.ed96c","type":"template","z":"8b700569.bacec8","name":"alarm","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alarm! The temperature is too high: {{payload.temperature}} C","output":"str","x":630,"y":140,"wires":[["96664632.bdc5f"]]},{"id":"8aa99f12.b64d4","type":"template","z":"8b700569.bacec8","name":"normal","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperature is back to normal: {{payload.temperature}} C","output":"str","x":640,"y":240,"wires":[["96664632.bdc5f"]]},{"id":"bcf97abd.865368","type":"telegram sender","z":"8b700569.bacec8","name":"Telegram message","bot":"323237ef.caca98","x":1130,"y":180,"wires":[[]]},{"id":"96664632.bdc5f","type":"change","z":"8b700569.bacec8","name":"prepare message","rules":[{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.chatId","pt":"msg","to":"733702332","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["bcf97abd.865368"]]},{"id":"ffcb79ce.b98d","type":"debug","z":"8b700569.bacec8","name":"debug Telegram output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1410,"y":180,"wires":[]},{"id":"b4df7339.45c668","type":"debug","z":"310181e.a7a957e","name":"debug alarm status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.alarm","x":790,"y":300,"wires":[]}]